body > div {
  background-color: #C67AE5;
  box-sizing: border-box;
  height:30em;
  padding: 7.5em;
  width: 30em;
}


body > div > div {
  background-color: #7A3497;
  height:15em;
  width: 15em;
}

 /*body > div > div > div {
  background-color: #473D4B;
  height: 7.5em;
  left: -7.5em;
  position: relative;
  top : -7.5em;
  width: 7.5em;

}
*/
#flotante {
  float: left;
  background-color: #B40CF7;
  width: 7.5em;
  height: 7.5em;
  padding: 0;
}
